<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/338187c6-37dc-4404-ac65-a47f36767592/resourcegroups/APIEncuestaMovilidadLaboral20231021015317ResourceGroup/providers/Microsoft.Web/sites/APIEncuestaMovilidadLaboral20231021092339</ResourceId>
    <ResourceGroup>APIEncuestaMovilidadLaboral20231021015317ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apiencuestamovilidadlaboral20231021092339.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>a130b659-57e4-4ded-84f1-4fdfbb2f5b96</ProjectGuid>
    <MSDeployServiceURL>apiencuestamovilidadlaboral20231021092339.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>APIEncuestaMovilidadLaboral20231021092339</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$APIEncuestaMovilidadLaboral20231021092339</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>